body {
    background-image: linear-gradient(to right, #314755 , #26a0da);
    background-repeat: repeat;
}

.wrap {
    margin-top: 10px;
}

/* 1) coordinates latitude/longitude styles */

#coordinates {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 10px;
    max-height: 67px;
    background: white;
}

#coordinates h3 {
    margin-bottom: 0;
    margin-top: 3px;
}

/* 2) current date/time styles */

#date {
    border: 1px solid black;
    text-align: center;
    max-height: 67px;
    min-width: 380px;
    margin-left: -15px;
    padding-top: 3px;
    background: white;
}

#date h5 {
    margin-top: 4px;
    margin-bottom: 0;   
}

#date p span {
    font-style: italic;
}

/* 3) map styles */

#map {
    width: 730px; 
    height: 523px; 
}

/* 4) People in Space and their quantity styles */

img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

#people > li {
    border-radius: 15px;
    margin-bottom: 5px;
    border: 1px solid green;
    max-height: 67px;
}

.people-in-space {
    border: 1px solid black;
    padding: 15px;
    background: white;  
}

.total-amount-pis {
    max-height: 50px;
    border: 1px solid black;
    text-align: center;
    margin-top: 5px;
    padding-top: 11px;
    font-weight: 900;
    background: white;
}